$primary: rgb(63, 81, 181);
$primary-hue-1: rgb(121, 134, 203);
$accent: #ff4081;
$selectedBoxBg: #51c200;
$bgColor: #f6f6f6;
$bodyBgColor: #fff;
$borderColor: #ddd;
$headerBorderColor: rgba(0, 0, 0, 0.17);
$headerShadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$black: #111;
$white: #fafafa;
$grey: #8d8a8a;
$priceColor: #fb3d3d;
$highlightBgColor: #E3E9FA;
$errorColor: rgb(221, 44, 0);

/* size values */
$smaller: 14px;
$small: 15px;
$normal: 16px;
$medium: 18px;
$large: 20px;
$larger: 22px;
$iconSize: 30px;

$footerHeight: 55px;
